.rt-statusbar {
	display: flex;
	justify-content: space-between;
	padding: 6px 16px;
	background: var(--rt-bg);
	border-top: 1px solid var(--rt-border);
	font-size: 13px;
	color: var(--rt-fg);
}

.rt-statusbar-left,
.rt-statusbar-right {
	flex: 1;
}

.rt-statusbar-right {
	text-align: right;
}
